<% @page_title = t(:messages) %>
<div id="content-main">
  <div id="new-new-message-form">
    <h3><%= t(:send_new_message) %></h3>
    <%= form_for(@message) do |f| %>
      <div id="message-form">
        <div class="form-field message-field">
            <%= f.text_area :body, :rows => 4, :placeholder => t(:placeholder_message), :autofocus => true, :required => true %>
        </div>
      </div><!-- message-form -->
      <div id="groups-to-send-the-message-and-rate">
        <%= f.label t(:recipients) %>:<br />
        <%= f.text_area :recipients, :rows => 4, :cols => 27, :placeholder => t(:placeholder_recipients), :required => true %>
        <div id="rate">
          <label>Coste de este envio</label>:<br />
          <span>0.00 €</span>
        </div>
      </div>
      <div id="send-message-buttons">
        <div id="counter">
          0
        </div>
        <div id="submit-message-button">
          <%= f.submit t(:send) %>
        </div>
      </div>
    <% end %>
  </div><!-- new-new-message-form -->
  <div class="clear"></div>
  <div id="message-list">
    <h3><%= t(:sent_messages) %></h3>
    <% if @messages.size > 0 %>
      <table>
        <tr>
          <th id="mdestination"><%= t(:destination) %></th>
          <th id="mbody"><%= t(:message) %></th>
          <th id="mdate"><%= t(:date) %></th>
        </tr>
        <% @messages.each do |message| %>
          <tr>
            <td>
              <%= message.recipients.each {|recipient| recipient } %>
            </td>
            <td><%= message.body %></td>
            <td><%= message.created_at.strftime('%d/%m/%Y %H:%M:%S') %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <h3><%= t(:you_dont_send_any_messages_yet) %></h3>
    <% end %>
  </div>
</div>
