<% @page_title = 'Inicio' %> 

<!-- SLIDESHOW INICIO --> 
<div id="lofslidecontent45" class="lof-slidecontent" style="width:980px; height:340px;">
    <div class="preload"><div> </div> </div>
  
  <div class="lof-main-outer" style="width:980px; height:340px;">
    <ul class="lof-main-wapper">
      <li>
        <%= image_tag('slides/sms_01.jpg') %>
        <div class="lof-main-item-desc">
          <h3><a target="_parent" title="Ipso Lorem" href="#">Ipso Lorem Sit Amet</a></h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since...
            <a class="readmore" href="#"> Leer más </a>
          </p>
        </div>
      </li> 
      <li>
        <%= image_tag('slides/sms_02.jpg') %>
        <div class="lof-main-item-desc">
          <h3><a target="_parent" title="Ipso Lorem" href="#">Ipso Lorem Sit Amet</a></h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since...
            <a class="readmore" href="#"> Leer más </a>
          </p>
        </div>
      </li> 
      <li>
        <%= image_tag('slides/sms_03.jpg') %>
        <div class="lof-main-item-desc">
          <h3><a target="_parent" title="Ipso Lorem" href="#">Ipso Lorem Sit Amet</a></h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since...
            <a class="readmore" href="#"> Leer más </a>
          </p>
        </div>
      </li> 
    </ul>     
  </div>
  
  <!-- NAVIGATOR -->
  <div class="lof-navigator-wapper">
    <div onclick="return false" href="" class="lof-next"></div>
    <div class="lof-navigator-outer">
      <ul class="lof-navigator">
        <li><%= image_tag('slides/sms_01_thumb.jpg') %></li>
        <li><%= image_tag('slides/sms_02_thumb.jpg') %></li>
        <li><%= image_tag('slides/sms_03_thumb.jpg') %></li>
      </ul>
    </div>
    <div onclick="return false" href="" class="lof-previous"></div>
  </div> 
</div> 
<!-- SLIDESHOW FINAL --> 


<div id="home-columns">
  <div id="home-column-left">
    <h2><%= t(:its_the_best) %></h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
  <div id="home-column-middle">
    <h2><%= t(:its_the_most_cheaper) %></h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
  <div id="home-column-right">
    <h2><%= t(:its_free) %></h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>
</div>
